<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concordancier bilingue Tatoeba</title>

    <style>

    </style>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%- include("header") %>

    <h1>Résultats de la reqûete pour le français «&nbsp;<%= queryTerm %>&nbsp;»</h1>

    <div>

        <% for (let i = 0; i < data.length; i++) { %>

            <div class="ligne-resultat-et-numero">
                <p><%= i + 1 %></p>

                <div class="database">

                    <div class="language-column">
                        <p><%= data[i].passage_fr %></p>
                        <div>
                            <button onclick="responsiveVoice.speak('<%= data[i].passage_fr %>', 'French Male')">🔊</button>
                        </div>
                    </div>

                    <div class="language-column" id="<%= i %>">
                        <p><%= data[i].passage_autre %></p>
                        <div>
                            <button onclick="responsiveVoice.speak('<%= data[i].passage_autre %>', 'Deutsch Male')">🔊</button>
                        </div>
                    </div>
    
                </div>
            </div>

        <% } %>
    </div>
    
    <%- include("footer") %>
    <script src="js/random-message.js"></script>
    <script src="js/responsivevoice.js"></script>

</body>
</html>


